@using Kentico.Kontent.Statiq.Memoirs.Models
@using Statiq.Common
@model Kentico.Kontent.Statiq.Memoirs.Models.PostViewModel
@{ ViewData["SiteMetadata"] = Model.Metadata;
                ViewData["Author"] = Model.Author;
                var article = Model.Post; }
<div class="entry-header">
    <!-- Post Title -->
    <h1 class="posttitle">@Model.Post.Title</h1>
    <!-- Author & Date  Box -->
    @if (Model.Author != null)
    {
<div class="d-flex align-items-center mt-4">
    <div>
        @if (Model.Author.AvatarImage?.Any() ?? false)
        {
<img class="author-thumb" src="@Model.Author.AvatarImage.First().Url?w=250&h=250" alt="@Model.Author.Name"> }
                else
                {
<img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">}
    </div>
    <div>
        Written by <span class="text-dark">@Model.Author.Name</span> on
        <span class="post-date"><time class="post-date" datetime="@Model.Post.PostDate?.ToString("dd-MM-yyyy")">@Html.DisplayFor(m => m.Post.PostDate)</time></span>
    </div>
</div>}
</div>

<!-- Featured Image -->
@{ await Html.RenderPartialAsync("_featured-image", @Model.Post.TeaserImage); }

<!-- Content -->
@* {% include article.html %} *@
<div class="article-post">
    @Html.Raw(Model.Post.Body)
</div>

<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
    <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}

<!-- Author Box if enabled from _config.yml -->
{% include author-box.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}

<!-- Share -->
{% include share.html %}

<!-- Related Post -->
{% include related-posts.html %}

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first:
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
@*{% if page.rating %}
<script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Review",
    "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
    },
    "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
    },
    "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
    "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
    }
    }
</script>
{% endif %}*@