@using Statiq.Common
@model MemoirsTheme.Models.IPagedContent
@{
    var context = ViewData["StatiqExecutionContext"] as IExecutionContext;
}
@if (Model.TotalItems > 1)
{
    <div class="pagination">
        @if (Model.PreviousUrl != null)
        {
            <a class="ml-1 mr-1" href="@context.GetLink(Model.PreviousUrl)">&laquo; </a>
        }
        else
        {
        <span>&laquo; </span>
        }

        @for( var index=1; index <= Model.TotalPages; index++){
            if( index == Model.Index ){
            <span class="ml-1 mr-1">@(index.ToString())</span>
            }
            else {
                <a class="ml-1 mr-1" href="@context.GetLink(Model.PagingUrl(index))">@index</a>
            }
        }

        @if(Model.NextUrl != null){
        <a class="ml-1 mr-1" href="@context.GetLink(Model.NextUrl)"> &raquo;</a>
        }else{
        <span> &raquo;</span>
        }
    </div>
}