@using Kentico.Kontent.Urls.ImageTransformation
@using Kentico.Kontent.Statiq.Memoirs.Models
@model Kentico.Kontent.Statiq.Memoirs.Models.Post
@{ var site = ViewData["SiteMetadata"] as SiteSettings;
    Author author = Model.Author.OfType<Author>().FirstOrDefault();
}

<div class="blog-grid-item">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="@Html.GetLink(Model.Url)">
                @Html.Image(Model.Image, Model.Title, site.LazyImages, 580, 400, ImageFitMode.Crop, new { @class = "img-thumb" })
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="@Html.GetLink(Model.Url)">@Model.Title</a>
                @if (Model.Rating.HasValue)
                {
    <div class="mb-2 mt-2 font-weight-normal">
        <partial name="star_rating" model="Model.Rating"/>
    </div>}
            </h2>
            <h4 class="card-text">@Model.MetadataMetaDescription.GetMaxWords(30)</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                @if (author != null)
                {
    <span class="meta-footer-thumb">
        @if (author?.AvatarImage != null)
        {
            @Html.Image(author.AvatarImage, author.Name, site.LazyImages, 40, fit:ImageFitMode.Crop,htmlAttributes: new { @class = "author-thumb" })
        }
        else
        {
            <img class="author-thumb" src="https://www.gravatar.com/avatar/@author.Gravatar?s=250&d=mm&r=x" alt="@author.Name">
        }
    </span>
                    <span class="author-meta">
                        @* TODO : author detail page*@
                        <span class="post-name"><a target="_blank" href="author/@author.System.Codename">@author.Name</a></span>
                    </span>}

                <span class="post-date">@Model.PostDate?.ToString("dd MMMM yyyy")</span>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->